/* Switch CSS*/
.switch-container {
    display: inline-block;
    margin: 5% 1% 0%;
  }
#icon{
    
    margin-left: 2%;
}
#icon2{
    margin-left: 2%;
    display: none;
}

  .switch-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .switch-input {
    display: none;
  }

  .switch-slider {
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    transition: background-color 0.3s;
  }

  .switch-slider:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
  }

  .switch-input:checked + .switch-slider {
    background-color: #285057; /* Green background when switch is ON */
  }

  .switch-input:checked + .switch-slider:before {
    transform: translateX(30px); /* Move the slider to the right when switch is ON */
  }
/*End of Switch CSS*/



#mainBox{
    display: inline-block;
    background-color: #ccc;
    border-radius: 14px;
    margin-top: 20%;
    padding: 0px 3px 0 3px;
    
}
#link2{
  padding-right: 18px;
}
#link3{
  text-decoration: none;
  color: black;
}
#icon3{
  padding-right: 6px;
}
#icon4{
  display: none;
  padding-right: 6px;
}
#icon5{
  padding-right: 6px;
}
#icon6{
    display: none;
  padding-right: 6px;
}
/*Animations*/
.focus-in-expand-fwd {
	-webkit-animation: focus-in-expand-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
              transform: translateZ(-800px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
              transform: translateZ(-800px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }



  .scale-in-bottom {
	-webkit-animation: scale-in-bottom 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-bottom 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -webkit-animation: scale-in-bottom 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-in-bottom 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

@-webkit-keyframes scale-in-bottom {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-bottom {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }
  @-webkit-keyframes scale-in-bottom {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes scale-in-bottom {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  .vibrate-3 {
	-webkit-animation: vibrate-3 1.3s linear infinite both;
	        animation: vibrate-3 1.3s linear infinite both;
}
@-webkit-keyframes vibrate-3 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    10% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    30% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    50% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    70% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    90% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-3 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    10% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    30% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    50% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    70% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    90% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }

  